html, 
body {
    height: 100vh;
    width: 100%;
    background-color: var(--darkblue);
}

header {
    height: 10vh;
    width: 100%;
    margin: 10px auto;
    display: flex;
    border-bottom: 1px solid var(--red);
}

#logo {
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

#title {
    color: #fff;
    font-style: italic;
    font-weight: bold;
    margin: 19px;
}

nav {
    width: 90%;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

nav ul {
    margin: 20px auto;
}

nav ul li i:hover {
    color: #fff;
}





