.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    color: white;
    font-size: 32px;
    font-style: italic;
    text-transform: uppercase;
    padding: 2em 0 4em 0;
}

.games {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.games-thumb {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.games-thumb img {
    width: 95%;
    height: 120%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.games-thumb h2 {
    position: absolute;
    color: white;
    padding: .5em;
    background-color: red;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    width: 25.4%;
}

